.gridsheet
{
  border: 1px solid #fff;
  width:0px;
  height:0px;
  overflow: hidden;
  position: relative;
}

.gridsheet_loader
{
	position:relative;
	top:0;
	left:0;
	background-color: white;
	font-size: 16px;
	border:1px solid #ccc;
	width:5%;
}

.gridsheet_column
{
	list-style: none;
	margin:0;
	padding:0;
	position: absolute;
	top:0;
}

.gridsheet_cell
{
	border:1px solid #888;
}

.gridsheet_gutter
{
	background-color: #ccc;
	font-weight: bold;
}

.gridsheet_content_align_center
{
	text-align: center;
}

.gridsheet_content_align_left
{
	text-align: left;
}

.gridsheet_content_align_right
{
	text-align: right;
}

.gridsheet_sheet
{
	margin:0;
	padding:0;
	border:1px solid #888;
	overflow:auto;
	top:0;
	left:0;
	position: absolute;
}

.gridsheet_sheet_tab_button
{
	border:1px solid #888;
	text-overflow: ellipsis;
	position:absolute;
	width:99px;
	height:20px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}

.gridsheet_sheet_tab_button_active
{
	background-color: white;
}

.gridsheet_sheet_tab_button_inactive
{
	background-color: #ccc;
}

.gridsheet_sheet_hide
{
	display: none;
}

.gridsheet_cell_textarea
{
	margin: 0;
	padding: 0;
	resize:none;
}

.gridsheet_cell_drag_pointer
{
	cursor: col-resize;
}

.gridsheet_dummy_topbar
{
	/*list-style: none;*/
	position:absolute;
	overflow: hidden;
	top:0px;
	left:0px;
	display: none;
	border-bottom: 1px solid #888;
}

.gridsheet_dummy_sidebar
{
	position:absolute;
	overflow: hidden;
	top:0px;
	left:-39px;
	display: none;
}

.gridsheet_toolbar
{
	overflow: hidden;
	border:1px solid #888;
}

.gridsheet_document_container
{
	overflow: hidden;
	position:relative;
}

.gridsheet_column_dragger 
{ 
	cursor: col-resize; 
	float: right;
    margin-top: -28px;
}

.gridsheet_row_dragger
{
	cursor: row-resize; 
}

/*
.gridsheet_gutter_fixed
{
	position:fixed;
}*/

/*
default cursor styles

.auto            { cursor: auto; }
.default         { cursor: default; }
.none            { cursor: none; }
.context-menu    { cursor: context-menu; }
.help            { cursor: help; }
.pointer         { cursor: pointer; }
.progress        { cursor: progress; }
.wait            { cursor: wait; }
.cell            { cursor: cell; }
.crosshair       { cursor: crosshair; }
.text            { cursor: text; }
.vertical-text   { cursor: vertical-text; }
.alias           { cursor: alias; }
.copy            { cursor: copy; }
.move            { cursor: move; }
.no-drop         { cursor: no-drop; }
.not-allowed     { cursor: not-allowed; }
.all-scroll      { cursor: all-scroll; }
.col-resize      { cursor: col-resize; }
.row-resize      { cursor: row-resize; }
.n-resize        { cursor: n-resize; }
.e-resize        { cursor: e-resize; }
.s-resize        { cursor: s-resize; }
.w-resize        { cursor: w-resize; }
.ns-resize       { cursor: ns-resize; }
.ew-resize       { cursor: ew-resize; }
.ne-resize       { cursor: ne-resize; }
.nw-resize       { cursor: nw-resize; }
.se-resize       { cursor: se-resize; }
.sw-resize       { cursor: sw-resize; }
.nesw-resize     { cursor: nesw-resize; }
.nwse-resize     { cursor: nwse-resize; }

custom cursor image
.custom {
   cursor: url(images/my-cursor.png), auto;
}




*/