.gridsheet
{
  border: 1px solid #ccc;
  width:0px;
  height:0px;
  overflow: auto;
  position: relative;
}

.gridsheet_loader
{
	position:relative;
	top:0;
	left:0;
	background-color: white;
	font-size: 16px;
	border:1px solid #ccc;
	width:5%;
}

.gridsheet_column
{
	list-style: none;
	margin:0;
	padding:0;
	position: absolute;
	top:0;
}

.gridsheet_cell
{
	border:1px solid #888;
}

.gridsheet_gutter
{
	background-color: #ccc;
	font-weight: bold;
}

.gridsheet_content_align_center
{
	text-align: center;
}

.gridsheet_content_align_left
{
	text-align: left;
}

.gridsheet_content_align_right
{
	text-align: right;
}

.gridsheet_sheet
{
	margin:0;
	padding:0;
	border:1px solid #888;
	overflow:auto;
	top:0;
	left:0;
	position: absolute;
}

.gridsheet_sheet_tab_button
{
	border:1px solid #888;
	text-overflow: ellipsis;
	position:absolute;
	width:99px;
	height:20px;
}

.gridsheet_sheet_tab_button_active
{
	background-color: white;
}

.gridsheet_sheet_tab_button_inactive
{
	background-color: #ccc;
}

.gridsheet_sheet_hide
{
	display: none;
}